// Place all the styles related to the Locations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "bootstrap.min";

#bu {
 margin-top:12px;
 }
/* universal */

html {
  overflow-y: scroll;
  height:100%;
}

body {
 height:100%;
  
  
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}



/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
}

#caption{
font-size: 6em;
  letter-spacing: 1px;
}

h2 {
  font-size: 1.2em;
  letter-spacing: 0px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #999;
}



p {
  font-size: 1.1em;
  line-height: 1.7em;
  text-indent: 1em;
}

.searchmatch {
	font-weight:bold;
}


/* header */
#logo{
float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  
  font-weight: bold;
  line-height: 1;
  margin-bottom:-30px;
}

#logo1 {
margin-bottom:-50px;
}

/* footer */

footer {
 	
  border-top: 1px solid #eaeaea;
  color: #999;
  margin-bottom:70px;
}

footer a {
  color: #555;
}

footer a:hover {
  color: #222;
}

footer small {
  float: left;
}

footer ul {
  float: right;
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 10px;
}



#navbar {
  
  background-color : transparent;
  border-color : transparent;
  
  
 }
 .icon-bar {
 background-color:#01c3f6;
 }
 
 #navbar1{
  background-color : rgba(62,218,230,0.5);
  border:none;
  
  
 
 }
 #navbar2{
  background-color : transparent;
  border-color : #3EDAE6;
  margin-bottom:0px;
  
  
 
 }

 #a {
 color: #929292;
 &:hover {
 color: #ffffff;
 }
 }
 #b {
 color: #929292;
 &:hover {
 color: #ffffff;
 }
 }
 #d {
 color: #929292;
 &:hover {
 color: #ffffff;
 }
 }
 #e {
 color: #929292;
 &:hover {
 color: #ffffff;
 }
 }
 #c {
 color: #929292;
 &:hover {
 color: #ffffff;
 }
 }
 
 #f {
 color: #929292;
 &:hover {
 color: #ffffff;
 }
 }
 
 
 
 .tt-query, .tt-hint {
  width: 400px;
  height: 36px;
  padding-left: 10px;
  
  font-size: 20px;
  line-height: 35px;
  border: 2px solid #ccc;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  outline: none;
}

.tt-hint {
	font-color:#ee1212;
	}
.tt-query {
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.tt-hint {
  color: #929292;
}

.tt-dropdown-menu {
  width: 400px;
  height:150px;
  
  
  background-color: rgba(255, 255, 255, 0.6);
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 0px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  overflow:auto;
  
 
}

.tt-suggestion {
  
    font-size: 18px;
  line-height: 100px;
  padding-left: 10px;
  color: #111;
  &.tt-is-under-cursor {
    color: #fff;
    background-color: #0097cf;
  }
  p {
    margin: 0;
  }
}

#map img {
max-width: none;
}

.form-inline{
margin-left:60px;
}







.dropdown-toggle:active, .open .dropdown-toggle {
  background: transparent !important;
  text-color:#111;
  
}
.dropdown-toggle:active, .dropdown-menu{
  background: rgba(255, 255, 255, 0.9) !important;
  
  border: transparent !important;
}

.navbar-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  background-color: transparent;
  
}



/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */
/* Carousel base class */
.carousel {

 
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel .item {
  height:100%;
  background-color:#fff;
}

.item {
    text-align: center;
    img {
    margin: 0 auto;}}

.input-group{
	margin-left:auto;
	margin-bottom:270px;
	margin-right:auto;
}

#alert {
position:relative;
top:-270px;
left:-47px;
}
#message1{
width:400px;

 background:rgba(237, 5, 40, 0.4) !important;
 border-color:#ED0528;
}
#message2{
width:400px;
height:190px;
 background:rgba(0, 0, 0, 0.5) !important;
border:transparent;
overflow:auto;
}
#big{
margin-top:50px;
}


textarea:focus, input:focus, input[type]:focus, .uneditable-input:focus {   
    border-color: rgba(229, 103, 23, 0.8);
    box-shadow: 0 1px 1px rgba(229, 103, 23, 0.075) inset, 0 0 8px rgba(229, 103, 23, 0.6);
    outline: 0 none;
}

.routine {
	color:#999;
	}
	
.image_container{
text-align:center;
}

.cont {
margin-top:60px;
 p {
 	margin-left:190px;
	}
}

