// Place all the styles related to the Locations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "bootstrap";
#input-group1 {
line-height: 1;
}
#out {
margin-bottom: 50px;
padding-top: 60px;
}
#bu {
 margin-top:5px;
 }
/* universal */

html {
  overflow-y: scroll;
}

body {
  padding-top: 60px;
  
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}



/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #999;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}


/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  line-height: 1;
}

#logo:hover {
  color: #fff;
  text-decoration: none;
}


/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #999;
}

footer a {
  color: #555;
}

footer a:hover {
  color: #222;
}

footer small {
  float: left;
}

footer ul {
  float: right;
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 10px;
}



#navbar {
  background-color: #01c3f6;
  border-color: #01a9d5;
  background-image: -webkit-gradient(linear, left 0%, left 100%, from(#2cd2fe), to(#01c3f6));
  background-image: -webkit-linear-gradient(top, #2cd2fe, 0%, #01c3f6, 100%);
  background-image: -moz-linear-gradient(top, #2cd2fe 0%, #01c3f6 100%);
  background-image: linear-gradient(to bottom, #2cd2fe 0%, #01c3f6 100%);
  background-repeat: repeat-x;
 }

 #a {
 color: #ffffff;
 &:hover {
 color: #222;
 }
 }
 #b {
 color: #ffffff;
 &:hover {
 color: #222;
 }
 }
 #d {
 color: #ffffff;
 &:hover {
 color: #222;
 }
 }
 #e {
 color: #ffffff;
 &:hover {
 color: #222;
 }
 }
 #c {
 color: #ffffff;
 &:hover {
 color: #222;
 }
 }
 
 
 .tt-query, .tt-hint {
  width: 250px;
  height: 32px;
  padding: 0px 0px;
  font-size: 24px;
  line-height: 24px;
  border: 2px solid #ccc;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  outline: none;
}

.tt-hint {
	text-color:#ee1212;
	}
.tt-query {
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.tt-hint {
  color: #111;
}

.tt-dropdown-menu {
  width: 265px;
  height:150px;
  margin-top: 3px;
  padding-left: 5px;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 0px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  overflow:auto;
 
}

.tt-suggestion {
  
  font-size: 18px;
  line-height: 100px;
  &.tt-is-under-cursor {
    color: #fff;
    background-color: #0097cf;
  }
  p {
    margin: 0;
  }
}

#map img {
max-width: none;
}