<% provide(:title, 'Info')%>
<h1><%="Information on "+ session[:location].city%> </h1>

<div>
<% session[:location].get_info.each { |info|%>
<%= link_to (info['title']), "http://en.wikipedia.org/wiki/"+info['title']%><p>
<%= info['snippet'].html_safe %><p>

<% } %>
</div>